# Application
NODE_ENV=development
PORT=3000

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mtenantecom
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mtenantecom?schema=public

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Nginx
NGINX_PORT=80
